<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}cuffbase{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cuff.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        {% block extrastyle %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block navigation %}{% endblock %}
        {% block breadcrumbs %}{% endblock %}
        <!-- Container -->
        <div class="container">
            <!-- Content -->
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}{% endblock %}
            <!-- END Content -->
        </div>
        <!-- END Container -->
        <footer class="footer">
            {% block footer %}{% endblock %}
        </footer>
    </body>

</html>
