{% extends 'cuff/track_base.html' %}
{% block filters %}
    {{ form.sample__pk }}
    {{ form.replicate }}
    {{ form.gene__gene_short_name }}
    {{ form.gene__gene_id }}
    {{ form.fpkm__gte }}
{% endblock %}

{% block track_thead %}
    <th>Gene short name</th>
    <th>Gene id</th>
    <th>Sample</th>
    <th>Replicate</th>
    <th>Raw frags</th>
    <th>Internal scaled frags</th>
    <th>External scaled frags</th>
    <th>FPKM</th>
    <th>Status</th>
{% endblock %}

{% block track_tbody %}
    {% for generep in object_list %}
        {% include 'cuff/includes/genereplicate.html' %}
    {% endfor %}
{% endblock %}
