{% extends 'cuff/track_base.html' %}
{% load cuff_tags %}
{% block filters %}
    {{ form.sample__pk }}
    {{ form.gene__gene_short_name }}
    {{ form.gene__gene_id }}
    {{ form.count__gte }}
{% endblock %}

{% block track_thead %}
    <th>Gene short name</th>
    <th>Gene id</th>
    <th>Sample</th>
    {% sort_by 'count' 'Count' %}
    <th>Variance</th>
    <th>Uncertainty</th>
    <th>Dispersion</th>
    <th>Status</th>
{% endblock %}

{% block track_tbody %}
    {% for genecount in object_list %}
        {% include 'cuff/includes/genecount.html' %}
    {% endfor %}
{% endblock %}
