{% extends 'cuff/base.html' %}
{% load cuff_tags %}
{% block navigation %}
    {% include 'cuff/includes/navbar_home.html' %}
{% endblock %}
{% block content %}
{% for exp_stat in object_list %}
    <div class="hero-unit">
        <h1>{{ exp_stat.experiment.title }}</h1>
        <div class="row-fluid">
            <div class="span6">
                <dl class="dl-horizontal">
                    <dt>Run on:</dt><dd>{{ exp_stat.experiment.run_date|date:"Y M d" }}</dd>
                    <dt>Analyzed on:</dt><dd>{{ exp_stat.experiment.analysis_date|date:"Y M d" }}</dd>
                    <dt>Library:</dt><dd>{{ exp_stat.experiment.library }}</dd>
                    <dt>Species:</dt><dd>{{ exp_stat.experiment.species }}</dd>
                </dl>
            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                    {% for sample in exp_stat.experiment.sample_set.all %}
                        <dt>{{ sample }}</dt><dd>{{ sample.replicate_set.count }} replicates</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        {% if exp_stat.experiment.description %}<p>{{ exp_stat.experiment.description }} </p>{% endif %}
        
        
        <hr class="soften"/>
        {% with exp_stat.experiment.pk as pk %}
        <div class="row-fluid">
            <div class="span3">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='gene' %}">Genes</a></h2>
                <p>{{ exp_stat.gene_count }} genes</p>
            </div>
            <div class="span3">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='isoform' %}">Isoforms</a></h2>
                <p>{{ exp_stat.isoform_count }} isoforms</p>
            </div>
            <div class="span3">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='tss' %}">TSS</a></h2>
                <p>{{ exp_stat.tss_count }} TSS groups</p>
            </div>
            <div class="span3">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='cds' %}">CDS</a></h2>
                <p>{{ exp_stat.cds_count }} CDSs</p>
            </div>
        </div>
        <hr class="soften"/>
        <div class="row-fluid">
            <div class="span4">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='promoter' %}">Promoters</a></h2>
                <p>{{ exp_stat.promoter_count }} promoters</p>
            </div>
            <div class="span4">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='splicing' %}">Splicing</a></h2>
                <p>{{ exp_stat.splicing_count }} splice variants</p>
            </div>
            <div class="span4">
                <h2><a href="{% url 'track_base_view' exp_pk=pk track='relcds' %}">Rel CDS</a></h2>
                <p>{{ exp_stat.relcds_count }} rel CDS</p>
            </div>
        </div>
        {% endwith %}
        <hr class="soften"/>
        
    </div>
{% endfor %}
{% endblock %}
{% block footer %}
    <dl class="dl-horizontal">
        <dt>&copy; 2012-2013</dt><dd>Nudler Lab</dd>
        <dt>powered by</dt><dd>django</dd>
        <dt>inspired by</dt><dd>tophat/cufflinks/cummeRbund</dd>
    </dl>
{% endblock %}

