{% extends 'cuff/base.html' %}
{% load cuff_tags %}
{% block navigation %}
    {% include 'cuff/includes/navbar_home.html' %}
{% endblock %}
{% block content %}
{% for exp_stat in object_list %}
    <div class="hero-unit">
        <h1>{{ exp_stat.experiment.title }}</h1>
        <div class="row-fluid">
            <div class="span6">
                <dl class="dl-horizontal">
                    <dt>Run on:</dt><dd>{{ exp_stat.experiment.run_date|date:"Y M d" }}</dd>
                    <dt>Analyzed on:</dt><dd>{{ exp_stat.experiment.analysis_date|date:"Y M d" }}</dd>
                    <dt>Library:</dt><dd>{{ exp_stat.experiment.library }}</dd>
                    <dt>Species:</dt><dd>{{ exp_stat.experiment.species }}</dd>
                </dl>
            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                    {% for sample in exp_stat.experiment.sample_set.all %}
                        <dt>{{ sample }}</dt><dd>{{ sample.replicate_set.count }} replicates</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        {% if exp_stat.experiment.description %}<p>{{ exp_stat.experiment.description }} </p>{% endif %}
        
        <hr class="soften"/>
        <div class="row-fluid">
            <div class="span3">{% render_track_summary 'gene' %}</div>
            <div class="span3">{% render_track_summary 'isoform' %}</div>
            <div class="span3">{% render_track_summary 'tss' %}</div>
            <div class="span3">{% render_track_summary 'cds' %}</div>
        </div>
        <hr class="soften"/>
        <div class="row-fluid">
            <div class="span4">{% render_track_summary 'promoter' %}</div>
            <div class="span4">{% render_track_summary 'splicing' %}</div>
            <div class="span4">{% render_track_summary 'relcds' %}</div>
        </div>
        <hr class="soften"/>
        
    </div>
{% endfor %}
{% endblock %}
{% block footer %}
    <dl class="dl-horizontal">
        <dt>&copy; 2012-2013</dt><dd>Eco32i</dd>
        <dt>powered by</dt><dd>django, pandas, matplotlib</dd>
        <dt>inspired by</dt><dd>tophat/cufflinks/cummeRbund</dd>
    </dl>
{% endblock %}

