{% extends 'cuff/track_base.html' %}
{% load cuff_tags %}
{% block title %}{{ block.super }} - isoform diff{% endblock %}
{% block filters %}
    {{ form.isoform__gene__gene_short_name }}
    {{ form.isoform__gene__gene_id }}
    {{ form.p_value__lte }}
    {{ form.q_value__lte }}
    {{ form.significant }}
{% endblock %}

{% block track_thead %}
    <th>Isoform id</th>
    <th>TSS group id</th>
    <th>Gene short name</th>
    <th>Gene id</th>
    <th>Value 1</th>
    <th>Value 2</th>
    {% sort_by 'log2_fold_change' 'Log<sub>2</sub> fold change' %}
    <th>Status</th>
    <th>Test stat</th>
    {% sort_by 'p_value' 'p value' %}
    {% sort_by 'q_value' 'q value' %}
    <th>Significant</th>
{% endblock %}

{% block track_tbody %}
    {% for isoformdiff in object_list %}
        <tr{% if isoformdiff.significant == "YES" %} class="success"{% endif %}>{% include 'cuff/includes/isoformexpdiffdata.html' %}</tr>
    {% endfor %}
{% endblock %}
