{% extends 'cuff/promoters.html' %}
{% block title %}{{ block.super }} - splicing isoforms{% endblock %}
{% block filters %}
    {{ form.tss_group__gene__gene_short_name }}
    {{ form.tss_group__gene__gene_id }}
    {{ form.p_value__lte }}
    {{ form.q_value__lte }}
    {{ form.significant }}
{% endblock %}

{% block track_thead %}
    <th>Gene short name</th>
    <th>Gene id</th>
    <th>Value 1</th>
    <th>Value 2</th>
    <th>Sqrt(JS)</th>
    <th>Staus</th>
    <th>Test stat</th>
    <th>p value</th>
    <th>q value</th>
    <th>Significant</th>
{% endblock %}

{% block track_tbody %}
    {% for splice in object_list %}
        <tr{% if promoter.significant == "YES" %} class="success"{% endif %}>{% include 'cuff/includes/splice.html' %}</tr>
    {% endfor %}
{% endblock %}
