{% extends 'cuff/base.html' %}
{% load pagination_tags cuff_tags %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-lightbox.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-lightbox.min.js"></script>
{% endblock %}
{% block navigation %}
    {% include 'cuff/includes/navbar_track.html' %}
{% endblock %}
{% block breadcrumbs %}
    {% crumbs %}
{% endblock %}
{% block content %}
    <h2>{{ view.kwargs.track }} track plots</h2>
    <ul class="thumbnails">
        <li class="span4">
            {% url 'density_plot_view' exp_pk=view.kwargs.exp_pk track=view.kwargs.track as density_plot_url %}
            {% with lightbox_id='density' img_url=density_plot_url %}
                {% include 'cuff/includes/lightbox.html' %}
                {% include 'cuff/includes/thumbnail.html' %}
            {% endwith %}
        </li>
        <li class="span4">
            {% url 'dispersion_plot_view' exp_pk=view.kwargs.exp_pk track=view.kwargs.track as dispersion_plot_url %}
            {% with lightbox_id='dispersion' img_url=dispersion_plot_url %}
                {% include 'cuff/includes/lightbox.html' %}
                {% include 'cuff/includes/thumbnail.html' %}
            {% endwith %}
        </li>
        <li class="span4">
            {% url 'volcano_plot_view' exp_pk=view.kwargs.exp_pk track=view.kwargs.track as volcano_plot_url %}
            {% with lightbox_id='volcano' img_url=volcano_plot_url %}
                {% include 'cuff/includes/lightbox.html' %}
                {% include 'cuff/includes/thumbnail.html' %}
            {% endwith %}
        </li>
    </ul>
{% endblock %}
