{% extends 'cuff/track_base.html' %}
{% block title %}{{ block.super }} - tss group diff{% endblock %}
{% block filters %}
    {{ form.tss_group__gene__gene_short_name }}
    {{ form.tss_group__gene__gene_id }}
    {{ form.p_value__lte }}
    {{ form.q_value__lte }}
    {{ form.significant }}
{% endblock %}

{% block track_thead %}
    <th>TSS group id</th>
    <th>Gene short name</th>
    <th>Gene id</th>
    <th>Value 1</th>
    <th>Value 2</th>
    <th>Log<sub>2</sub> fold change</th>
    <th>Status</th>
    <th>Test stat</th>
    <th>p value</th>
    <th>q value</th>
    <th>Significant</th>
{% endblock %}

{% block track_tbody %}
    {% for tssdiff in object_list %}
        <tr{% if tssdiff.significant == "YES" %} class="success"{% endif %}>{% include 'cuff/includes/tssexpdiffdata.html' %}</tr>
    {% endfor %}
{% endblock %}
