{% extends 'cuff/base.html' %}
{% load pagination_tags %}
{% block content %}
<div class="span12">
    <form class="form-inline" action="." method="GET">
        <fieldset>
            {{ form.gene__gene_short_name }}
            {{ form.gene__gene_id }}
            {{ form.tss_group_id }}
            <button type="submit" class="btn btn-info">Filter</button>
            <button type="submit" class="btn" value="_clear">Clear</button>
        </fieldset>
    </form>
</div>
    <div class="span12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Gene short name</th>
                    <th>TSS group id</th>
                    <th>Gene id</th>
                    <th>Locus</th>
                    <th>Length</th>
                    <th>Coverage</th>
                </tr>
            </thead>
            {% autopaginate object_list 100 %}
            {% for tss_group in object_list %}
                {% include 'cuff/includes/tss_group.html' %}
            {% endfor %}
        </table>
        {% paginate %}
    </div>
    <hr class="soften"/>

{% endblock %}
