<td>{{ isoformdiff.isoform.isoform_id }}</td>
<td>{{ isoformdiff.isoform.tss_group.tss_group_id }}</td>
<td>{{ isoformdiff.isoform.gene.gene_short_name }}</td>
<td>{{ isoformdiff.isoform.gene.gene_id }}</td>
<td>{{ isoformdiff.value_1 }}</td>
<td>{{ isoformdiff.value_2 }}</td>
<td>{{ isoformdiff.log2_fold_change }}</td>
<td>{{ isoformdiff.status }}</td>
<td>{{ isoformdiff.test_stat }}</td>
<td>{{ isoformdiff.p_value }}</td>
<td>{{ isoformdiff.q_value }}</td>
<td>{{ isoformdiff.significant }}</td>
