<tr>
    <td>{{ isoformrep.isoform.isoform_id }}</td>
    <td>{{ isoformrep.isoform.tss_group.tss_group_id }}</td>
    <td>{{ isoformrep.isoform.gene.gene_short_name }}</td>
    <td>{{ isoformrep.isoform.gene.gene_id }}</td>
    <td>{{ isoformrep.sample }}</td>
    <td>{{ isoformrep.replicate }}</td>
    <td>{{ isoformrep.raw_frags }}</td>
    <td>{{ isoformrep.internal_scaled_frags }}</td>
    <td>{{ isoformrep.external_scaled_frags }}</td>
    <td>{{ isoformrep.fpkm }}</td>
    <td>{{ isoformrep.status }}</td>
</tr>
