/* ---------------------------------------------------------------------
 * solarizing Bootstrap css
 */

body { padding-top: 60px; }


/*
.navbar .brand {
        color: #657b83
}

.navbar .nav > li > a:hover {
  color: #cb4b16;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #93a1a1;
  background-color: #002b36;
}
*/
