/* ---------------------------------------------------------------------
 * solarizing Bootstrap css
 */

body { padding-top: 40px; }

table.table thead .sorting,
table.table thead .sorting-asc,
table.table thead .sorting-desc {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../img/arrow-up.gif') no-repeat center right; }
table.table thead .sorting-asc {
  background: #eee8d5 url('../img/arrow-up.gif') no-repeat center right;
  border-bottom: solid 4px #93a1a1;
}
table.table thead .sorting-desc {
  background: #eee8d5 url('../img/arrow-down.gif') no-repeat center right;
  border-bottom: solid 4px #93a1a1;
}

/*
.navbar .brand {
        color: #657b83
}

.navbar .nav > li > a:hover {
  color: #cb4b16;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #93a1a1;
  background-color: #002b36;
}
*/
