{% extends "auth/base.html" %}
{% block content %}
    <hr class=:soften" />
    {% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="error">Please correct the errors below</p>
    </div>
    {% endif %}

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
      <div class="control-group">
        {{ form.username.errors }}
        <label for="id_username" class="control-label required">Username</label>
        <div class="controls">{{ form.username }}</div>
      </div>
      <div class="control-group">
        <label for="id_password" class="control-label required">Password:</label>
        <div class="controls">{{ form.password }}</div>
        {% if form.password.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ form.password.errors }}
            </div>
        {% endif %}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="control-group">
        <div class="controls"><button type="submit" class="btn">Login</button></div>
      </div>
    </form>

{% endblock %}
